{% block content %} 
	<div class="row">
        <h1>Copy To Code</h1>
    </div>
    <div class="row">
    	<h5>Input Text Here</h5>
    	<textarea id="input-text"></textarea>
    </div>
{% endblock %}